:root {
    --font: #1e1e1e;
    --bg: white;
    --grn: #096A10;
    --input: #F5F8EB;
    --border: #f0f0f0;
}

[data-theme="Dark"] {
    --bg: #1e1e1e;
    --font: white;
    --input: #f0f0f0;
  }

/* * {
    transition: all 0.3s ease-in-out;
} */

body {
    font-family: "Prompt";
    display: flex;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.welcome {
    position: fixed;
    right: 0;
    top: 0;
    color: var(--font);
    padding: 20px;
    margin-right: 30px;
    font-size: 42px;
    z-index: 1003;
    position: fixed; 
}

/* SIDEBAR CSS */

.name {
    color: var(--grn);
}

.sidebar {
    width: 350px;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-right: solid var(--border);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    background-color: var(--bg);
    z-index: 1000;
    position: fixed; 
    top: 0; 
    left: 0;
}

.sidebar.open {
    transform: translateX(0);
    z-index: 1003;
}

.sidebar.closed {
    transform: translateX(-100%);
}

.maintitle {
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center; 
    margin-top: -15px;
    z-index: 2;
}

.title {
    color: var(--grn);
    font-size: 48px;
    margin-top: 30px;
}

.subtitle {
    margin-top: -60px;
    margin-left: -8.5px;
    color: var(--font);
}

.nav {
    font-size: 22px;
    list-style-type: none;
    margin-left: -50px;
    margin-top: 50px;
    font-weight: 600;
}

.nav li {
    margin-bottom: 20px;
}

.nav a {
    text-decoration: none;
    color: var(--font);
    transition: font-size 0.2s ease;
}

.nav a:hover {
    font-size: 24px;
}

.sidebarBtn {
    border: none;
    background: none;
    font-size: 38px;
    color: var(--font);
    position: absolute;
    top: 20px;
    left: 20px;
    transition: font-size 0.3s ease, left 0.3s ease;
    z-index: 1002;
    position: fixed;
}

.sidebarBtn:hover {
    font-size: 42px;
}

.sidebarBtn.open {
    left: 365px;
    z-index: 1003;
}

@media screen and (max-width: 768px){
    .welcome {
        font-size: 24px;
        margin: 10px;
        margin-right: -5px;
    }
    .sidebarBtn {
        font-size: 32px;
    }
    .sidebar {
        width: 200px;
    }
    .title {
        font-size: 28px;
    }
    .subtitle {
        font-size: 10px;
        margin-top: -40px;
        padding: 10px;
    }
    .sidebarBtn.open {

        left: 210px;
    }
    .nav {
        font-size: 16px;
    }
}

/* LOGIN PAGE CSS */

.logincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Prompt";
    width: 800px;
    height: 500px;
    border: 3px solid #f0f0f0;
    border-radius: 28px;
    margin-top: -20px;
}

.logintitle {
    font-size: 100px;
    color: var(--grn);
}

.loginsubtitle {
    font-size: 30px;
    font-weight: bold;
    width: 700px;
    margin-top: -30px;
    margin-bottom: 15px;
    color: var(--font);
}

.loginform input {
    border-radius: 12px;
    width: 400px;
    height: 40px;
    margin: 5px;
    border: none;
    background-color: var(--input);
    color: var(--blk);
    font-family: "Prompt";
    font-weight: 500;
    padding-left: 20px; 
}

.loginBtn {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.loginBtn button {
    width: 250px;
    height: 40px;
    font-size: 24px;
    font-family: "Prompt";
    font-weight: bold;
    background-color: var(--grn);
    color: var(--bg);
    border-radius: 16px;
    border: none;
    transition: width 0.3s ease;
}

.loginBtn button:hover {
    width: 300px;
}

@media screen and (max-width: 768px){
    
}

/* DASHBOARD CSS */

.dashboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elibContainer, .archiveContainer {
    width: 1250px;
    height: 300px;
    background-color: var(--bg);
    border-radius: 32px;
    border: 2px solid var(--border);
    box-shadow: 5px 5px var(--border);
    margin: 10px;
    font-family: "Prompt";
    font-size: 28px;
    font-weight: 600;
}

.elibContainer p, .archiveContainer p {
    display: inline-block;
    margin-top: 15px;
    margin-left: 30px;
    color: var(--grn);
}

.elibbooks ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.elibbooks .bookItem {
    margin: 10px;
    margin-top: -45px;
}

.elibbooks .bookItem img {
    width: 140px;
    height: 200px; 
    object-fit: cover; 
    border-radius: 16px; 
    border: 5px solid var(--border);
    transition: height 0.3s ease;
}

.bookItem img:hover{
    height: 220px; 
}

.goBtn, .goBtn2 {
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-family: "Prompt";
    font-weight: bold;
    background-color: var(--grn);
    color: var(--bg);
    border-radius: 16px;
    border: none;
    transition: width 0.3s ease;
    margin-left: 15px;
}

.goBtn:hover, .goBtn2:hover {
    width: 130px;
}