:root {
    --font: #1e1e1e;
    /* --bg: white; */
    --bg: #EBE6E0;
    --grn: #096A10;
    /* --grn: #4C7766; */
    --input: #F5F8EB;
    /* --input: #d3d3d3; */
    /* --border: #f0f0f0; */
    --border: #D3D3D3;
}

[data-theme="Dark"] {
    --bg: #1e1e1e;
    --font: #EBE6E0;
    --input: #404040;
    --grn: #26a164;
    --border: #404040;
    /* --grn: #096A10; */
  }

* {
    transition: all 0.09s ease-in-out;
}

/* SCROLLBAR CSS */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: var(--input);
    border-radius: 16px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--border);
}

body {
    font-family: "Prompt";
    display: flex;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

/* HEADER CSS */

.welcome {
    position: fixed;
    right: 0;
    top: 0;
    color: var(--font);
    padding: 20px;
    margin-right: 30px;
    font-size: 48px;
    z-index: 1003;
    backdrop-filter: blur(10px); 
    background-color: var(--bg);
    border-radius: 32px; 
}

/* SIDEBAR CSS */

.name {
    color: var(--grn);
}

.sidebar {
    width: 350px;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-right: solid var(--border);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    background-color: var(--bg);
    z-index: 1000;
    position: fixed; 
    top: 0; 
    left: 0;
}

.sidebar.open {
    transform: translateX(0);
    z-index: 1003;
}

.sidebar.closed {
    transform: translateX(-100%);
}

.maintitle {
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center; 
    margin-top: 15px;
    z-index: 2;
}

.title img {
    /* color: var(--grn);
    font-size: 48px; */
    /* margin-top: 30px;  */
    width: 365px;
    height: auto;
    /* margin-top: -35px; */
}

.subtitle {
    width: 350px;
    margin-top: 0;
    margin-left: -8.5px;
    color: var(--font);
}

.nav {
    font-size: 22px;
    list-style-type: none;
    margin-left: -50px;
    margin-top: 50px;
    font-weight: 600;
    margin-left: -30px;
}

.nav li {
    margin-bottom: 20px;
    width: 280px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding-left: 40px;
    transition: background-color 0.2s ease;
}

.nav a {
    text-decoration: none;
    color: var(--font);
    transition: background-color 0.2s ease;
    width: 280px;
}

.nav li:hover {
    background-color: var(--grn);
    color: var(--bg);
}

.icon {
    margin-right: 15px;
    color: var(--font);
}

.nav a:hover .icon, .nav a:hover {
    color: var(--bg);
}

.sidebarBtn {
    border: none;
    background: none;
    font-size: 38px;
    color: var(--font);
    position: absolute;
    top: 20px;
    left: 20px;
    transition: font-size 0.3s ease, left 0.3s ease;
    z-index: 1002;
    position: fixed;
    background-color: var(--bg);
}

.sidebarBtn:hover {
    font-size: 42px;
}

.sidebarBtn.open {
    left: 365px;
    z-index: 1003;
}

/* .logout {
    position: absolute;
    bottom: 0;
    color: var(--font);
} */

.bottomBtns {
    position: absolute;
    bottom: 0;
    color: var(--font);
}

/* .boticon:hover {
    color: var(--bg);
} */

@media screen and (max-width: 768px){
    .welcome {
        font-size: 24px;
        margin: 10px;
        margin-right: -5px;
    }
    .sidebarBtn {
        font-size: 32px;
    }
    .sidebar {
        width: 300px;
    }
    .title img {
        /* font-size: 42px; */
        width: 310px;
        height: auto;
        /* margin-top: -25px; */
    }
    .subtitle {
        width: 300px;
        font-size: 15px;
        margin-top: -15px;
        padding: 10px;
    }
    .sidebarBtn.open {
        left: 320px;
    }
    .nav {
        margin-top: 40px;
        font-size: 18px;
    }
    .nav li {
        width: 240px;
    }
}

/* LOGIN PAGE CSS */

.logincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Prompt";
    width: 800px;
    height: 550px;
    border: 3px solid var(--border);
    border-radius: 28px;
    /* margin-top: -20px; */
}

.loginform {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%;  */
    /* padding: 20px; */
}

/* .logintitle {
    font-size: 100px;
    color: var(--grn);
} */

.logintitle img {
    width: 750px;
    height: auto;
    /* margin-top: -140px;     */
    /* background-color: black; */
}

.loginsubtitle {
    font-size: 30px;
    font-weight: bold;
    width: 700px;
    /* margin-top: -190px; */
    margin-bottom: 15px;
    color: var(--font);
}

.loginform input {
    border-radius: 12px;
    width: 400px;
    height: 40px;
    margin: 5px;
    border: none;
    background-color: var(--input);
    color: var(--blk);
    font-family: "Prompt";
    font-weight: 500;
    padding-left: 20px; 
}

.loginBtn {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 20px; 
}

.loginBtn button {
    width: 250px;
    height: 40px;
    font-size: 24px;
    font-family: "Prompt";
    font-weight: bold;
    background-color: var(--grn);
    color: var(--bg);
    border-radius: 16px;
    border: none;
    transition: width 0.3s ease;
    
}

.loginBtn button:hover {
    width: 300px;
}

@media screen and (max-width: 768px){
    .logincontainer {
        width: 350px;
        height: 400px;
    }
    .logintitle img{
        width: 350px;
        height: auto;
        /* margin-top: -55px; */
    }
    .loginsubtitle {
        width: 350px;
        font-size: 16px;
        /* margin-top: -90px; */
    }
    .loginform input {
        width: 270px;
    }
    .loginBtn button {
        width: 150px;
        height: 35px;
        font-size: 18px;
    }
}

/* DASHBOARD CSS */

.dashboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    overflow-x: auto;
}

.elibContainer, .archiveContainer {
    flex: 1 0;
    /* width: 100%; */
    height: 350px;
    max-height: 350px;
    background-color: var(--bg);
    border-radius: 32px;
    border: 2px solid var(--border);
    box-shadow: 5px 5px var(--border);
    margin: 10px;
    font-family: "Prompt";
    font-size: 28px;
    font-weight: 600;
    overflow: auto;
    white-space: nowrap;
    /* flex-wrap: nowrap; */
    /* overflow: hidden; */
}

.elibContainer p, .archiveContainer p {
    display: inline-block;
    margin-top: 15px;
    margin-left: 30px;
    color: var(--grn);
}

.elibbooks ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.elibbooks .bookItem {
    margin: 10px;
    margin-top: -45px;
}

.elibbooks .bookItem img {
    width: 140px;
    height: 200px; 
    object-fit: cover; 
    border-radius: 16px; 
    border: 5px solid var(--border);
    transition: height 0.3s ease;
}

.bookItem img:hover{
    height: 210px; 
}

.goBtn, .goBtn2 {
    width: 110px;
    height: 30px;
    font-size: 18px;
    font-family: "Prompt";
    font-weight: bold;
    background-color: var(--bg);
    color: var(--grn);
    border-radius: 16px;
    border: none;
    transition: width 0.3s ease;
    transition: background-color 0.2s ease;
    transition: color 0.2s ease;
    margin-left: 15px;
}

.goBtn, .goBtn2 button {
    border: 2px solid var(--grn);
}

.goBtn:hover, .goBtn2:hover {
    background-color: var(--grn);
    color: var(--bg);
}

@media screen and (max-width: 1270px) {
    .elibbooks .bookItem {
        margin-right: 5px;
    }
    .elibbooks .bookItem img {
        width: 100px;
        height: 150px; 
    }
}

@media screen and (max-width: 800px) {
    .elibContainer, .archiveContainer {
        width: 350px;
        height: 300px;
        font-size: 24px;
        overflow: auto;
    }
    .elibbooks ul {
        flex-wrap: nowrap;
        /* flex-direction: row; */
        overflow-x: auto;
        justify-content: flex-start;
    }

    .elibbooks .bookItem {
        margin: 0;
        margin-top: 0;
        margin-right: 5px;
    }

    .elibbooks .bookItem img {
        width: 100px;
        height: 150px; 
    }
}

@media screen and (max-height: 667px) {
    .dashboardContainer {
        margin-top: 150px;
    }
}

@media screen and (max-width: 344px) {
    .welcome {
        font-size: 22px;
    }
    .elibContainer, .archiveContainer {
        width: 300px;
    }
    .sidebar {
        width: 280px;
    }
    .sidebarBtn.open {
        left: 290px;
    }
    .nav li {
        width: 220px;
    }
}

/* EBOOKS PAGE CSS */

.ebooksContainer {
    margin-top: 60px;
    max-width: 1500px;
    max-height: 750px;
    /* width: 100%;
    height: 100%; */
    border: 3px solid var(--border);
    border-radius: 28px 10px 12px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    padding: 20px; 
    box-sizing: border-box; 
    margin-left: 10px;
    margin-right: 10px;
} 

.eBooks {
    font-size: 40px;
    color: var(--grn);
    /* margin-left: -1100px; */
    /* margin-top: -1500px; */
}

.elibbooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#ebooks2 {
    margin-top: 1520px;
    display: flex;
}

#ebooks2 li {
    margin: 10px;
    /* flex: 1 0 200px;  */
}

.booktitle {
    width: 200px; 
    font-size: 16px;
    padding: 10px; 
    color: var(--font);
    width: 100%;
    box-sizing: border-box; 
}

#bookitem2 {
    width: 200px;
    height: 400px;
}

#bookitem2 button {
    border: none;
    background-color: var(--bg);
}

.bookbtn {
    font-family: "Prompt";
}

@media screen and (max-width: 1416px) {
    #ebooks2 {
        margin-top: 1950px;
    }
}

@media screen and (max-width: 1184px) {
    #ebooks2 {
        margin-top: 3000px;
    }
}

@media screen and (max-width: 1420px) {
    #ebooks2 {
        margin-top: 1950px;
    }
}

@media screen and (max-width: 1268px) {
    .bookItem img {
        width: 200px;
    }
    #ebooks2 {
        margin-top: 2800px;
    }
}

@media screen and (max-width: 1186px) {
    #ebooks2 {
        margin-top: 2800px;
    }
}

@media screen and (max-width: 985px) {
    #ebooks2 {
        margin-top: 3650px;
    }
} 

@media screen and (max-width: 962px) {
    #ebooks2 {
        margin-top: 3650px;
    }
}

@media screen and (max-width: 800px) {
    .ebooksContainer {
        width: 350px;
        margin-top: 75px;
        flex-direction: column;
        overflow: auto;
    }

    .elibbooks {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .eBooks {
        margin-top: -1400px;
        margin-left: 30px;
        font-size: 24px;
    }

    #ebooks2 {
        display: flex;
        justify-content: center;
    }

    #ebooks2 ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: visible;
        padding: 0;
        margin: 0;
    }

    #ebooks2 li {
        margin: 20px;
    }

    .booktitle {
        font-size: 0;
        /* width: 100px; */
        visibility: hidden;
    }

    #bookitem2 {
        width: 100px;
        height: 150px;
    }
}

/* MODAL CSS */
/* 
.modalcontainer {
    font-family: 'Prompt';
}

#bookcover {
    width: 350px;
    height: auto;
    border-radius: 16px;
    border: 5px solid #D3D3D3; 
} */

/* @import url('modal.css'); */
.modalcontainer {
    font-family: 'Prompt';
    /* background-color: var(--bg); */
}
  
#bookcover {
    width: 350px;
    height: auto;
    border-radius: 16px;
}



.modalContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
  
.textContent {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
  

.modalauthor,
.modalstatus {
    margin-top: 10px;
}

.modalstatus {
    display: flex;
    justify-content: center;
    width: 200px;
    border: 2px solid var(--grn);
    background-color: var(--grn);
    color: var(--bg);
    border-radius: 12px;
}
  