/* @import url('App.css');

.modalcontainer {
    font-family: 'Prompt';
}
  
#bookcover {
    width: 350px;
    height: auto;
    border-radius: 16px;
    border: 5px solid #D3D3D3; 
}
  
.modalContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
  
.textContent {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
  

.modalauthor,
.modalstatus {
    margin-top: 10px;
}

.modalstatus {
    border: var(--grn);
}
   */